*{
    margin:0% ;
    padding: 0px;
    font-family: poppins,sans-serif;
    text-decoration: none;
}



.container{
display: flex;
justify-content: space-around;
padding: 10px;



}
.links{
    
    list-style-type: none;
    display: inline-flex;
    margin-inline: 2.5rem;
    column-gap: 60px; 
}
.links a{
    color: #6D6F7E;

     
}
.links a:hover{
    color: antiquewhite;
}
.left-line{

    border-bottom: 5px solid orange;
        width: 15%; 
        height: 5px;
        margin: none;
}
.hero-text{
    display: flex;
    justify-content:space-around ;
    margin-top: 80px;
    margin-right: 60px;

}

.box-1{
padding: 10px;
}

p {
    color: #EBEDF9;
}
.img img {

    width: 150px;
    height: 300px;
    position: absolute;
    margin-left: 75px;

}
.border{
    display: flex;
    width: 55%;
    height: 50px;
    position:absolute;
    justify-content: center;
     column-gap: 60px;
    background-color:#363543;
    margin-left: 270px;
    -webkit-box-shadow: 5px 5px 5px #363543; 
     box-shadow: 5px 5px 5px #363543;
     z-index:auto; 
     border-color: #777777;
    }
     
h1{
    color: #FFFFFF;
}
h3{
    color: #EBEDF9;
}
.logo-text{
    color: #FFFFFF;
}
.color{
    background-color:#363543;
}
    

p1{
    color: orange;
}
.arrow{
    color: yellow;
    column-gap: 5px;
}
.icons{
    color: #FFFFFF;
}
.background{
    background-color:#282834;
    display: flex;
}
.lower-1{
    margin-left: 30px;
    margin-top: 150px;
    
}
.border-1{
    color: #FFFFFF;
}
.border-2{
    color: #FFFFFF;
}
.border-3{
    color: #FFFFFF;
}
.border-4{
    color: #FFFFFF;
}

.project{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-top: 0px;
}
    
.pro1{
    display:flex ;
    flex-direction: column;
    justify-content:space-between ;
}
.pro2{
    display:flex ;
    flex-direction: column;
    justify-content:space-between ;
}
.pro3{  
    display:flex ;
   flex-direction: column;
    justify-content:space-between ;
}
.pro4{  
    display:flex ;
    flex-direction: column;
     justify-content:space-between ;
}
.pro5{

     display:flex ;
    flex-direction: column;
    justify-content:space-between ;
    margin-right: 685px;
}
h2{
    color: orange;
}
.boxes{
    display: flex;
    justify-content: space-around;
}
h4{
    color: #FFFFFF;
}
.box-9{
    background-color: #363543;
    padding: 20px;

}    
.box-8{
    background-color: #363543;
    padding: 20px;
}
.box-7{
    background-color: #363543;
    padding: 20px;
}
.image{
    flex-direction: row;
    width: 90px;
    justify-content: flex-end;
}
.images{
    width: 90px;
    margin-left: 600px;
    margin-top: 0px;
    margin-bottom: 90px;
    margin-block: 30px;
    display: flex;
    flex-direction: col;

    
}
.image1 img{
    max-width: 110px;
    
}
hr {
    color:#363543;
}
p2{
    flex-direction: column
}
.super-text{
    dis
}
.image1{
    align-items: center;
}
.image2{
    align-items: center;
}
.image3{   
    align-items: center;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 90%;
    background-color:#2D2D39;
}